{% extends "base.html" %}
{% block title %}Artistas{% endblock title %}
{% block content %}
<h1>Artistas</h1>
<div class="d-flex justify-content-end mb-3">
    <a href="{% url 'discos:add_artist' %}" class="btn btn-success mr-2">
        <i class="fa-solid fa-plus"></i>Añadir Artista</a>
    <a href="{% url 'discos:index' %}" class="btn btn-secondary">
        <i class="fa-solid fa-house"></i> Regresar al Inicio</a>
</div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>País</th>
        <th>Categoría</th>
        <th>Imagen</th>
        <th>Acciones</th>
    </tr>
    {% for artist in artists %}
    <tr>
        <td>{{ artist.id }}</td>
        <td>{{ artist.name }}</td>
        <td>{{ artist.country }}</td>
        <td>{{ artist.category.category_name }}</td>
        <td>
            <img src="{{ artist.picture.url }}" alt="{{ artist.name }}" style="width: 100px; height: auto;">
        </td>
        <td>
            <a href="{% url 'discos:edit_artist' artist.id %}" class="btn btn-primary">
                <i class="fa-solid fa-pencil"></i> Editar
            </a>
            <form method="POST" action="{% url 'discos:delete_artist' artist.id %}" onsubmit="return confirmDeletion();">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i> Eliminar
                </button>
            </form>
            
            <script>
                function confirmDeletion() {
                    return confirm('¿Estás seguro de que deseas eliminar este artista?');
                }
            </script>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}