{% extends "base.html" %}
{% block title %}Clientes{% endblock title %}
{% block content %}
<h1>Clientes</h1>

<style>
    .btn-spacing {
        margin-right: 15px; /* Puedes ajustar el valor según necesites */
    }
</style>
<div class="d-flex justify-content-end mb-3">
    <a href="{% url 'discos:add_customer' %}" class="btn btn-success btn-spacing">
        <i class="fa-solid fa-plus"></i> Añadir Cliente
    </a>
    <a href="{% url 'discos:index' %}" class="btn btn-secondary float-end">
        <i class="fa-solid fa-house"></i> Regresar al Inicio
    </a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Identificación</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Dirección</th>
        <th>Acciones</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.identity_card }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.address }}</td>
        <td>
            <a href="{% url 'discos:edit_customer' customer.id %}" class="btn btn-primary">
                <i class="fa-solid fa-pencil"></i> Editar 
            </a>
            <form method="POST" action="{% url 'discos:delete_customer' customer.id %}" onsubmit="return confirmDeletion();">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i> Eliminar
                </button>
            </form>
            
            <script>
                function confirmDeletion() {
                    return confirm('¿Estás seguro de que deseas eliminar este cliente?');
                }
            </script>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}