{% extends "base.html" %}
{% block title %}Compras{% endblock title %}
{% block content %}
<h1>Compras</h1>
<div class="d-flex justify-content-end mb-3">
    <a href="{% url 'discos:add_purchase' %}" class="btn btn-success mr-2">
        <i class="fa-solid fa-plus"></i>Añadir Compra</a>
    <a href="{% url 'discos:index' %}" class="btn btn-secondary">
        <i class="fa-solid fa-house"></i> Regresar al Inicio</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Categoría</th>
        <th>Fecha</th>
        <th>Precio Total</th>
    </tr>
    {% for purchase in purchases %}
    <tr>
        <td>{{ purchase.id }}</td>
        <td>{{ purchase.customer.name }}</td>
        <td>{{ purchase.category.category_name }}</td>
        <td>{{ purchase.date }}</td>
        <td>{{ purchase.total_price }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
