{% extends "base.html" %}
{% block title %}Carrito de Compras{% endblock title %}
{% block content %}
<h1>Carrito de Compras</h1>
<div class="d-flex justify-content-end mb-3">
    <a href="{% url 'discos:product_list' %}" class="btn btn-secondary">
        <i class="fa-solid fa-house"></i> Regresar
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for product_id, item in cart.items %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ total_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Total: ${{ total_price }}</h3>

<form method="POST" action="{% url 'discos:view_cart' %}">
    {% csrf_token %}
    <div class="form-group">
        {{ form.customer.label_tag }} {{ form.customer }}
    </div>
    <div class="form-group">
        {{ form.date.label_tag }} {{ form.date }}
    </div>
    <button type="submit" class="btn btn-success">Proceder con la compra</button>
</form>
{% endblock %}
